html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #796a42 !important;  
  color: #796a42 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container-box {
  background-color: #e0cb90;
  padding: 30px;
  border-radius: 15px;
  margin: auto auto;
  box-shadow: 0 0 10px black;
  width: 50%;
} 

.heading-highlight {
  color: black;
  padding-bottom: 10px;
  display: inline-block;
}

.header-container-box {
    background-color: blanchedalmond;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 50px;
    padding: 20px;
}

.header-nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;}